/*
.main_box{
    width: 1000px;
	height: 600px;

	background: lightblue;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.box{
	position: absolute;
	bottom: 16px;
	right: 16px;

	width: 150px;
	height: 100px;
	background: darkblue;

	transition: 2s 3s cubic-bezier(0.3, 0.11, 1, 1);
	z-index: 1;
}

*/

.main_box {
  position: relative;
  width: 800px;
  height: 200px;
  background-color: pink;
  text-align: center;
  line-height: 200px;
}

.box {
  position: absolute;
  left: -420px;
  top: 50px;
  width: 400px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
  transition: left 3s;
}

.main_box:hover .box {
  left: 200px;
}






