*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
    top: -492px;
    left: -756px;

    background: #E5DFD3;
}

.header{
    width: 1140px;
    height: 92px;
    left: 186px;
    border-radius: 0px 0px 16px 16px;

    display: flex;
	justify-content: space-between;

    background: #4F6991;
}

.container_header{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_footer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
    width: 1140px;
    height: 120px;
    top: 1716px;
    left: 186px;
    border-radius: 16px 16px 0px 0px;

    display: flex;
	justify-content: center;

    background: #4F6991;
}

.header_left{
	margin: 12px 0px;
	display: flex;
	align-items: center;
}

.header_right{
	margin: 12px 0px;
	width: 300px;
	height: 32px;
	display: flex;
    align-items: center;

    background: #D3DAE6;
}

.con_box_1{
    display: flex;
}

.con_box_2{
    display: flex;
}

.con_box_3{
    display: flex;
}

.con_box_1 .con_box_left{
    width: 554px;
    height: 499px;
    top: 123px;
    left: 186px;
    gap: 0px;
    opacity: 0px;

    background: #FFFFFF;
}

.con_box_1 .con_box_right{
    width: 554px;
    height: 440px;
    top: 123px;
    left: 772px;
    gap: 0px;
    opacity: 0px;

    background: #D3DAE6;
}

.con_box_2 .con_box_left{
    width: 554px;
    height: 499px;
    top: 654px;
    left: 186px;
    gap: 0px;
    opacity: 0px;

    background: #FFFFFF;
}

.con_box_2 .con_box_right{
    width: 554px;
    height: 499px;
    top: 654px;
    left: 772px;
    gap: 0px;
    opacity: 0px;

    background: #D3DAE6;
}

.con_box_3 .con_box_left{
    width: 554px;
    height: 499px;
    top: 1185px;
    left: 186px;
    gap: 0px;
    opacity: 0px;

    background: #FFFFFF;
}

.con_box_3 .con_box_right{
    width: 554px;
    height: 499px;
    top: 1185px;
    left: 772px;
    gap: 0px;
    opacity: 0px;

    background: #D3DAE6;
}








.logo{
    width: 86px;
    height: 44px;
    top: 24px;
    left: 218px;
	display: flex;
	margin-right: 32px;

	font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: left;

    color: #ffffff;
}


.nav{
	display: flex;
	align-items: center;
}

.btn_nav{
	display: flex;
	align-items: center;
	margin-right: 16px;
}

.btn_nav p{
    width: 55px;
    height: 29px;
    top: 32px;
    left: 978px;
    gap: 0px;
    opacity: 0px;

    color: #ffffff;
	font-size: 14px;
	line-height: 23px;
}

.trademark p{
    color: #ffffff;
	font-size: 14px;
	line-height: 23px;
}
