$primary: #343DFF;
$primary_bg: #DFE0FF;
$primary_text: #191C1D;


$black: #000000;
$gray: #AFAFAF;
$white: #ffffff;


$head_color: #191C1D;
$secondary_color: #4E4E4E;

$subject_text_color: #00006F;


$primary_btn_color: $primary;
$primary_btn_padding: 8px 24px;
$primary_btn_border: 40px;