.btn{
	display: flex;
	font-size: 16px;
	line-height: 19px;
	padding: 8px 24px;
	border-radius: 8px;
	transition: .4s;
	border: none;
	background-color: transparent;
	margin: 8px;

	&.primary-outline{
		box-shadow: inset 0 0 0 1px #007ABE;
		color: #007ABE;

		*{
			color: #007ABE;
			margin-left: 4px;
			margin-right: 4px;

			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}

		svg{
			height: 19px;
			stroke: #007ABE;
		}

		&:hover{
			background-color: rgba(#007ABE, .3);
		}
	}

	&.primary{
		color: #ffffff;
		background: #007ABE;

		*{
			color: #ffffff;
			margin-left: 4px;
			margin-right: 4px;

			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}

		svg{
			height: 19px;
			stroke: #ffffff;
		}

		&:hover{
			background-color: rgba(#007ABE, .6);
		}
	}
}